<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huijia.mapper.DealerMapper">


    <resultMap type="com.huijia.domain.Dealer" id="DealerVoResult">
        <result property="id" column="id"/>
        <result property="company" column="company"/>
        <result property="sn" column="sn"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="agent" column="agent"/>
        <result property="userId" column="user_id"/>
        <result property="sex" column="sex"/>
    </resultMap>


</mapper>
